<div class="comment-box">
  <div class="comment-box-inner">
    <h2>コメント入力</h2>
    <%= form_with model: @comment, url:post_comments_path(params[:post_id]), local:true do |f| %>
    <%= f.hidden_field :post_id, value: params[:post_id] %>
    <div class="form-group">
      <%= f.label :comment, "コメント" %>
      <%= f.text_field :comment, autofoucs: true, autocomplete: "comment" %>
    </div>
    <div class="form-group">
       <%= f.submit "新規コメント", class:"btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>