<div class="box-g">
  <div class="box-inner-g">
    <h2>グループ選択</h2>
    <%= form_with model: @group, url:group_path, method: :patch, local:true do |f| %>
     <div class="field">
       <%= f.label :group_name, "グループ選択" %>
       <%= f.select :group, options_from_collection_for_select(Group.all, :id, :group_name) %>
     </div>

     <div class="field"><br />
       <%= f.label :group_password, "パスワード" %><br />
       <%= f.password_field :group_password, autocomplete: "current-password" %>
     </div>

     <div class="actions"><br />
       <%= f.submit "ログイン" %>
     </div>
    <% end %></br>
    <h5>
      ＜注意＞</br>
      グループ作成が出来ていない場合はグループ新規作成が必要です。</br>
      グループの新規登録は<%= link_to "こちら", new_group_path %>から
    </h5>
  </div>
</div>