<div class="box-g">
  <div class="box-inner-g">
    <h2>グループ新規登録</h2>
    <%= form_with model: @group, url:groups_path, local:true do |f| %>
      <div class="field">
        <%= f.label :group_name, "グループ名" %><br />
        <%= f.text_field :group_name, autofoucus: true, autocomplete: "group_name" %>
      </div>

      <div class="field"><br />
        <%= f.label :group_password, "グループ共有パスワード" %><br />
        <%= f.text_field :group_name, autofoucus: true, autocomplete: "group_password" %>
      </div></br>
      <%= f.submit "登録" %>
    <% end %></br>
    <h6>
      既にグループがある方は<%= link_to "こちら", groups_path %>から
    </h6>
  </div>
</div>
