<h2><%= @group.group_name %> メンバー一覧</h2>

<table>
  <thead>
    <tr>
      <th scope="col">氏名</th>
      <th scope="col">住所</th>
    </tr>
  </thead>

  <tbody>
    <% @group.users.each do |user| %>
    <tr>
      <td>
        <%= link_to user_path(@user.id), local:true do %>
          <%= user.first_name %><%= user.last_name %>
        <% end %>
      </td>
      <td><%= user.address %></td>
    </tr>
    <% end %>
  </tbody>
</table>