<div class="container px-8 px-sm-12">
  <div class="row">
    <div class="col">
      <h2>個人情報編集画面</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model:@user, url: user_path(@user.id), local:true do |f| %>
      <h4>トップ画像</h4>
      <%= f.attachment_field :image %>
      <h4>氏名</h4>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <h4>フリガナ</h4>
      <%= f.text_field :first_name_kana %>
      <%= f.text_field :last_name_kana %>
      <h4>郵便番号</h4>
      <%= f.text_field :postal_code %>
      <h4>住所</h4>
      <%= f.text_field :address %>
      <h4>電話番号</h4>
      <%= f.text_field :telephone_number %>
      <h4>メールアドレス</h4>
      <%= f.text_field :email %>
      <%= f.submit "変更を保存", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>