<div class="post-box">
  <div class="post-box-inner">
    <h2>新規登録投稿</h2>
    <%= form_with model:@post, url:posts_path, local:true do |f| %>
    <div class="form-group">
      <%= f.label :image, "投稿画像" %>
      <%= f.attachment_field :image %>
    </div>
    <div class="form-group">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, autofoucs: true, autocomplete: "title" %>
    </div>
    <div class="form-group">
      <%= f.label :post, "本文" %>
      <%= f.text_area :post, autofoucu: true, autocomplete: "post" %>
    </div>
    <div class="form-group">
      <%= f.submit '新規投稿', class:"btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>